@import '~@schibstedspain/theme-basic/lib/index';

.sui-ListBasic {
  @include reset-list;
  display: flex;

  li {
    flex: 0 0 auto;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &-justify {
    li {
      flex: 1 1 auto;
    }
  }
}
